ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
  padding: 5%, 0px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  width: 33%;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  width: 33%;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  width: 99%;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  padding-right: 1%;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  /* padding: 10px 0; */
  width: 99%;
  background: #eee;
  margin: 0;
  text-align: left;
  padding-left: 1%;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 25px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 15px;
  background: #1abc9c;
  color: white !important
}

#calendar{
   display: inline;
}