:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100;
  margin: 0 auto;
  padding: 0em;
  /* text-align: center; */
}
.clear{
  clear: both;
}

#container-div {
  flex-direction:column;
  padding: 10px;
  margin: 0px;
  float: right;
  height: 80vh;
  width: 25vw;
  overflow-y:scroll
}
#calendar{
  display: inline;
  float: left;
  width: 60vw;
  height: 80vh;
}
