:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);    THESE TWO LINES MAKE IT DARK MODE */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.edit-tags-container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

#edit-tags {
  text-align: left;
  width: 12%;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  margin-top: 4px;
  margin-bottom: 4px;
}

#container-div {
  float: right;
  height: 80vh;
  width: 25vw;
  overflow-y:scroll
}
#calendar{
  float: left;
  width: 60vw;
  height: 80vh;
}
.clear{
  float: none;
}