.Day-Time-Rect{
  overflow-y: scroll;
}

.eventspan{
  height: 100%;
  width: 10px;
  display: flexbox;
  flex: 1 1 auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.show-hour{
  border-top: 1px solid black;
}
.show-half-hour{
  border-top: 1px dashed black;
}

.event-first-div{
  border-top: 1px solid black;
}
.last-event-div{
  border-bottom: 1px solid black;
}
.timespan{
  justify-content: space-evenly;
  height: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#container-div {
  flex-direction:column;
  padding: 10px;
  margin: 0px;
  float: right;
  height: 80vh;
  width: 25vw;
  overflow-y:scroll
}

.eventNameText {
  color: black;
  font-size: 1em;
  text-align: center;
  margin: 1%;
}

section p {
  text-align: center
}

strong {
  display: block;
  text-align: center;
}

#event-info {
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  width: 50%;
  height: 50%;
  border: 3px solid black;
  background-color: lightgray;
  position: fixed;
  font-size: 1.5em;
  button {
    margin: 10px;
    font-size: 1em;
    
    width: 8%;
    height: 12%;
  }
}