.Day-Time-Rect{
  overflow-y: scroll;
}

.eventspan{
  border: 2px solid black;
  height: 10px;
  width: 10px;
  display: flexbox;
  flex: 1 1 auto;
}

.timespan{
  border: 1px dashed black;
  height: 10px;
  width: 80%;
  display: flex;
  flex-direction: row;
}

#container-div{
  flex-direction: column;
  overflow-y: scroll;
  height: 60px;
  width: 10vw;
}
